
.page-section {
    padding: 0 80px;

}

.section-heading {
    font-size: 22px;
    color: rgb(9, 4, 4);
    font-family: "Open Sans", arial, sans-serif;
    text-align: center;
    font-weight: lighter;

    margin-top: 20px;
    margin-bottom: 20px;
}

.items-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    height: 270px;
    width: 200px;

    cursor: pointer;
    background-color: #fff;
    text-align: center;
    padding: 25px 15px;
    transition: all 0.7s;
    box-shadow: 0px 0px 15px #cdcdcd;

    float: left;
    margin: 25px;

    transition: 0.3s;
}

.service-item:hover {
    background-color: #a2cf8d;
}

.service-item h4 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.first-service .icon {
    background-image: url(../components/img/first.png);
    height: 32px;
    width: 32px;
    display: inline-block;
}

.second-service .icon {
    background-image: url(../components/img/second.png);
    height: 32px;
    width: 22px;
    display: inline-block;
}

.third-service .icon {
    background-image: url(../components/img/third.png);
    height: 32px;
    width: 32px;
    display: inline-block;
}

.fourth-service .icon {
    background-image: url(../components/img/fourth.png);
    height: 32px;
    width: 32px;
    display: inline-block;
}